.radio {
    background: black;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    margin-bottom: 22px;
}

.options {
    margin-left: 133px;
    display: flex;
    flex-direction: column;
}
